<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="position:fixed; top: 0px; background-color: #AAAAAA; margin-bottom: 10px; margin-left: 0px; width: 100%">
        <h1>keepingUP.Online</h1>
        <a href="/" style="margin: 5px;">Home</a>
        <a href="/team" style="margin: 5px">Team</a>	<a href="/scoreboard" style="margin: 5px;">Scoreboard</a>
        <a href="/cyow" style="margin: 5px;">Create your own WorkGroup</a>
        <a href="/about" style="margin: 5px;">About Us</a>
        <br>
    </div>
</body>
</html>